<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Listing</title>
</head>
<body> 
     <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  
    <h1>Add a New Event</h1>
    <form action="/events" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required />
        <label for="type">Type:</label>
        <select name="type" id="type" required>
            <option value="">Select Event Type..</option>
            <option value="Venue">Venue</option>
            <option value="Ballet">Ballet</option>
            <option value="Runway">Runway</option>
            <option value="Art Gallery">Art Gallery</option>
        </select>
        <small style="display:block; margin-top:4px; color:#666;">
    * Venue include events like Parties, Theatre, or Opera.
</small>
        <label for="eventDate">Event Date:</label>
        <input type="date" name="eventDate" id="eventDate" required />
       
        <label for="startTime">Start Time:</label>
<input type="time" name="startTime" id="startTime" value="<%= formData?.startTime || '' %>" required />

<label for="endTime">End Time:</label>
<input type="time" name="endTime" id="endTime" value="<%= formData?.endTime || '' %>" required />


        <label for="location">Location:</label>
        <input type="text" name="location" id="location" required />
        <label for="description">Description:</label>
    <textarea name="description" id="description" rows="5" cols="40" placeholder="Enter a detailed description..."></textarea>
        <label for="performers">Performers:</label>
<input type="text" name="performers" id="performers" placeholder="Enter performers separated by commas" />
    <label for="bookingPhoneNumber">Booking Phone Number:</label>
        <input type="tel" name="bookingPhoneNumber" id="bookingPhoneNumber" required />
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" min="1" />
        <label for="ticketQuantity">Ticket Quantity:</label>
        <input type="number" name="ticketQuantity" id="ticketQuantity" min="1" />
        <button type="submit">Add Event</button>
</form>
</body>
</html> 